parameters:
	level: max
	paths:
		- Src
		- Tests
	excludePaths:
		analyseAndScan:
			- vendor/
	ignoreErrors:
		-
			identifier: missingType.iterableValue
			path: Src/Traits/ForbidSetters.php
		-
			message: '#^Offset 1 on array\{string\, int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			path: Src/Traits/Validator.php
		-
			identifier: method.nonObject
			path: Tests/CardFactoryTest.php

