parameters:
	level: max
	paths:
		- Src
		- Tests
	excludePaths:
		analyseAndScan:
			- vendor/
	ignoreErrors:
		-
			identifier: missingType.iterableValue
			path: Src/Traits/ForbidSetters.php
			count: 2

