includes:
	- vendor/thewebsolver/scraper/phpstan-common.neon
parameters:
	level: max
	paths:
		- Src/
		- Tests/
	ignoreErrors:
		-
			identifier: method.nonObject
			path: Tests/PaymentCardFactoryTest.php
		- # Card creation. Error catch.
			identifier: argument.type
			path: Src/PaymentCardFactory.php
			count: 8
		- # Card creation. Error catch.
			identifier: offsetAccess.nonOffsetAccessible
			path: Src/PaymentCardFactory.php
			count: 6
		- # Card creation. Error catch.
			identifier: argument.unpackNonIterable
			path: Src/PaymentCardFactory.php
			count: 2
		- # Ignore $event always exists error. It so does not when handler is not provided.
			identifier: isset.variable
			path: Src/PaymentCardFactory.php
			count: 1
			message: '#^Variable \$event in isset\(\) always exists and is not nullable.$#'
		- # Regex validated array instead of mixed.
			identifier: return.type
			path: Src/Tracer/BraintreePaymentCardTracer.php
			count: 1
		- # Allow Mocked Card Type in test files.
			identifier: argument.type
			messages:
			- '#^Parameter \#5 \$current of class.*?CardResolved constructor.*?$#'
