includes:
	- vendor/thewebsolver/scraper/phpstan-common.neon
parameters:
	level: max
	paths:
		- Src/
		- Tests/Fixture
		- Tests/CardNumberFormatterTest.php
		- Tests/Fixture/PaymentCardValidator.php
	ignoreErrors:
		-
			identifier: method.nonObject
			path: Tests/PaymentCardFactoryTest.php
		- # Card creation. Error catch.
			identifier: argument.type
			path: Src/PaymentCardFactory.php
			count: 8
		- # Card creation. Error catch.
			identifier: offsetAccess.nonOffsetAccessible
			path: Src/PaymentCardFactory.php
			count: 6
		- # Card creation. Error catch.
			identifier: argument.unpackNonIterable
			path: Src/PaymentCardFactory.php
			count: 2

